.newest-content{
    display: flex;
    margin: auto;
    flex-direction: column;
    background: #B7C4CF;
    padding-bottom: 30px;
}

.newest-content h2{
    text-align: center;
    font-size: 50px;
}

.newest__imgs-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

