.newest-content{
    display: flex;
    margin: auto;
    flex-direction: column;
}

.newest-content h2{
    text-align: center;
}

.newest__imgs-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

