.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background: white;
  color:black;
  font-size: 16px;
  background-color: #f1f1f1;
  font-family: 'Oswald', sans-serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 17rem; 
  margin: 0;
}
